* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

nav {
  background-color: black;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;

}

.gallery {
  display: flex;
  width: 100%;
  height: 90vh;
  overflow-x: scroll;
  background: linear-gradient(to bottom, black 80%, white);
}

/* speaker element start */
.audio-wrapper {
  background-color: aliceblue;
  width: 100px;
  height: 100px;
  color: aliceblue;
  /* position: relative; */
  /* display: inline-block; */
}

.speaker-image {
  /* position: absolute; */
  bottom: 0;
  right: 0;
  width: 50px;
  height: 50px;
}
/* speaker element end */


h1 {
  color: white;
  padding: 0 5vmin;
  font-size: 2vmin;
  text-align: center;
}
ul {
  
  display: flex;
  list-style: none;
  justify-content: space-around;
  align-items: center;
  z-index: 1;
}
li {
  padding: 0 5vmin;
  font-size: 2vmin;
}
li > a {
  color: white;
  text-decoration: none;
}
section {
  display: flex;
  justify-content: center;
  align-items: start;
}
.introduction {
  background-color: aliceblue;
  margin: 5vmin 5vmin;
  padding: 2vmin 5vmin;
  background-color: rgba(187, 187, 187, 0.762);
  border-radius: 10px;
  border: 3px solid white;
  height: 70vh;
}

.introduction > p {
  height:60vh;
  width: 400px;
  overflow-y: scroll;
  padding: 2vmin;
}

.introduction > p::-webkit-scrollbar {
  width: 8px;
  border-radius: 10px;
  background-color: white;
}
.introduction > p::-webkit-scrollbar-thumb {
  background-color: rgb(74, 74, 74);
  border-radius: 10px;
}

.introduction > h2 {
  text-align: center;
  /* padding: 5px 0; */
}

.sketchfab-embed-wrapper {
  display: flex;
  flex-direction: column;

  align-items: center;
  justify-content: center;
  margin: 0 5vmin;
}
.sketchfab-embed-wrapper > img {
  display: flex;
}
.sketchfab-contents {
  display: flex;
  flex-direction: row;
}
.sketchfab-table {
  display: flex;
  flex-direction: column;
}
.sketchfab-table > img {
  width: 400px;

  padding: 0 5vmin;
}
.table {
  height: 80px;
}

#hubble-3d,
#ISS-3d,
#MER-3d {
  width: 400px;
  height: 400px;
  margin-top: 5vmin;
  aspect-ratio: 1/1;
  object-fit: contain;
  padding: 5vmin 5vmin;
}

.description {
  width: 250px;
  height: 45vh;
  background-color: rgba(187, 187, 187, 0.762);
  border-radius: 10px;
  border: 3px solid white;
  margin: 5vmin 0;
  overflow-y: scroll;
  font-size: 0.8rem;
  padding: 2vmin 2vmin;
}
.description::-webkit-scrollbar {
  width: 8px;
  border-radius: 10px;
  background-color: white;
}
.description::-webkit-scrollbar-thumb {
  background-color: rgb(74, 74, 74);
  border-radius: 10px;
}

.description > p { 
  display: flex;
  flex-direction: column;
}
.description > p >span{
  font-weight: bold;

} 


footer {
  /* margin-top: 5vmin; */
}
footer > span { 
  display: flex;
  flex-direction: column;
}
