body {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  line-height: 1.5;
  max-width: 800px;
  margin: 0 auto;
  padding: 0 20px;
}
h2 {
  margin-top: 35px;
  text-align: center;
}
body > p {
  text-indent: 2rem;
  margin-bottom: 20px;
}
body > ul > li {
  margin-bottom: 10px;
  list-style-type: none;
}
